@media (min-width: 768px) {
  h2, h3, h4, h5, h6 {
    font-size: 30px;
  }

  p {
    font-size: 18px;
  }

  #section1 p {
    padding-left: 9%;
    padding-right: 9%;
  }

  #site-footer h2 {
  	font-size: 22px;
  }

  #site-footer nav {
  	font-size: 18px;
    text-align: justify;
  	padding-left: 20%;
    padding-right: 20%;
  }
}
